[submodule "api"]
	path = api
	url = https://github.com/3sixtyglobal/api.git
	branch = next
[submodule "attestation"]
	path = attestation
	url = https://github.com/3sixtyglobal/attestation.git
	branch = next
[submodule "auditable-item-graph"]
	path = auditable-item-graph
	url = https://github.com/3sixtyglobal/auditable-item-graph.git
	branch = next
[submodule "blob-storage"]
	path = blob-storage
	url = https://github.com/3sixtyglobal/blob-storage.git
	branch = next
[submodule "data"]
	path = data
	url = https://github.com/3sixtyglobal/data.git
	branch = next
[submodule "dlt"]
	path = dlt
	url = https://github.com/3sixtyglobal/dlt.git
	branch = next
[submodule "entity-storage"]
	path = entity-storage
	url = https://github.com/3sixtyglobal/entity-storage.git
	branch = next
[submodule "framework"]
	path = framework
	url = https://github.com/3sixtyglobal/framework.git
	branch = next
[submodule "identity"]
	path = identity
	url = https://github.com/3sixtyglobal/identity.git
	branch = next
[submodule "verifiable-storage"]
	path = verifiable-storage
	url = https://github.com/3sixtyglobal/verifiable-storage.git
	branch = next
[submodule "logging"]
	path = logging
	url = https://github.com/3sixtyglobal/logging.git
	branch = next
[submodule "nft"]
	path = nft
	url = https://github.com/3sixtyglobal/nft.git
	branch = next
[submodule "standards"]
	path = standards
	url = https://github.com/3sixtyglobal/standards.git
	branch = next
[submodule "telemetry"]
	path = telemetry
	url = https://github.com/3sixtyglobal/telemetry.git
	branch = next
[submodule "tools"]
	path = tools
	url = https://github.com/3sixtyglobal/tools.git
	branch = next
[submodule "vault"]
	path = vault
	url = https://github.com/3sixtyglobal/vault.git
	branch = next
[submodule "wallet"]
	path = wallet
	url = https://github.com/3sixtyglobal/wallet.git
	branch = next
[submodule "auditable-item-stream"]
	path = auditable-item-stream
	url = https://github.com/3sixtyglobal/auditable-item-stream.git
	branch = next
[submodule "immutable-proof"]
	path = immutable-proof
	url = https://github.com/3sixtyglobal/immutable-proof.git
	branch = next
[submodule "background-task"]
	path = background-task
	url = https://github.com/3sixtyglobal/background-task.git
	branch = next
[submodule "engine"]
	path = engine
	url = https://github.com/3sixtyglobal/engine.git
	branch = next
[submodule "event-bus"]
	path = event-bus
	url = https://github.com/3sixtyglobal/event-bus.git
	branch = next
[submodule "messaging"]
	path = messaging
	url = https://github.com/3sixtyglobal/messaging.git
	branch = next
[submodule "data-processing"]
	path = data-processing
	url = https://github.com/3sixtyglobal/data-processing.git
	branch = next
[submodule "document-management"]
	path = document-management
	url = https://github.com/3sixtyglobal/document-management.git
	branch = next
[submodule "node"]
	path = node
	url = https://github.com/3sixtyglobal/node.git
	branch = next
[submodule "rights-management"]
	path = rights-management
	url = https://github.com/3sixtyglobal/rights-management.git
	branch = next
[submodule "federated-catalogue"]
	path = federated-catalogue
	url = https://github.com/3sixtyglobal/federated-catalogue.git
	branch = next
[submodule "synchronised-storage"]
	path = synchronised-storage
	url = https://github.com/3sixtyglobal/synchronised-storage.git
	branch = next
[submodule "trust"]
	path = trust
	url = https://github.com/3sixtyglobal/trust.git
	branch = next
[submodule "dataspace"]
	path = dataspace
	url = https://github.com/3sixtyglobal/dataspace.git
	branch = next
[submodule "notarization"]
	path = notarization
	url = https://github.com/3sixtyglobal/notarization.git
	branch = next
[submodule "hierarchies"]
	path = hierarchies
	url = https://github.com/3sixtyglobal/hierarchies.git
	branch = next
[submodule "automation"]
	path = automation
	url = https://github.com/3sixtyglobal/automation.git
	branch = next
[submodule "tracing"]
	path = tracing
	url = https://github.com/3sixtyglobal/tracing.git
	branch = next
[submodule "api-auth"]
	path = api-auth
	url = https://github.com/3sixtyglobal/api-auth.git
	branch = next
[submodule "authorization"]
	path = authorization
	url = https://github.com/3sixtyglobal/authorization.git
	branch = next
